block content

    style.
        #connection{
            position: absolute;
            top: 60%;
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
        }

        #username{
            width: 50%;
            height: 10%;
            margin-top: 5%;
            margin-left:25%;
            text-align:center;
        }

        #textBox{
            width: 70%;
            height: 5%;
            margin-left: 15%;
            background-color: rgba(210, 210, 210, 0.9);
        }

        #connectionText{
            text-align: center;
            font-size: 15pt;
            margin: 5%
        }

        .connect{
            margin-top: 5%;
            width: 50%;
            margin-left: 25%;
            height: 10%;
            font-size: 15pt;
        }

    div#connection

        div#textBox
            h1#connectionText Enter your username!

        input#username(type="text")

        button.connect Enter the game

        script(type="text/javascript").

            $('button.connect').click(function () {
                emitEnteringGameMessage($('#username').val())
            })

            $('#background').css("background-image", "url('/images/home_screen.png')")
