doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery.js")
    script(src='/javascripts/utils.js') 
    script(src='/javascripts/sockets.js')
  body
    block content
