extends layout

block content
    //- h1 Main Page

    style.
        #background{
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
        }

    div#background
        div#dynamicHTML

        script(src="/javascripts/buffer.js")
        script(src="/javascripts/moveDetection.js")
        script(src="/javascripts/touch.js")

        script(type="text/javascript").
            lockScreen()
            
            connect()

            configureDynamicHTML()
