block content

    style(type='text/css').
        #mainbody{
           position: absolute;
           top: 70px;
           width: 100%;
           height: 85%;
        }

    h1#touch Shooter
    h1#accl accl

    div#mainbody

    script(type='text/javascript').
        touchsurface = configureTouch("mainbody")