block content
    h1 Vote

    style.
        #voteButtons{
            display: grid;
            grid-template-columns: 250px 250px;
            grid-template-rows: 250px 250px;
        }
        button{
            margin: 50px;
        }
        .choice1{
            grid-column: 1; grid-row: 1;
        }
        .choice2{
            grid-column: 2; grid-row: 1;
        }
        .choice3{
            grid-column: 1; grid-row: 2;
        }
        .choice4{
            grid-column: 2; grid-row: 2;
        }

    div#voteButtons
        button#choice1 Choice 1
        button#choice2 Choice 2
        button#choice3 Choice 3
        button#choice4 Choice 4